* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', 'Noto Sans KR', 'Nunito Sans', sans-serif;
    background-color: rgb(230, 250, 253);
}


.windsong-medium {
    font-family: "WindSong", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.5s ease;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out; 
}

#header.visible {
    opacity: 1;
    transform: translateY(0);
}


.scrolled {
    background-color: rgb(207, 250, 255); 
    
}



.logo .bracket {
    font-size: 2rem;
    color: rgb(1, 40, 91);
}

.logo {
    font-size: 1.2rem;
    margin-left: 40px;
}

.logo a {
    text-decoration: none;
    color: rgb(1, 40, 91);
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    text-align: right;
}

.right-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right-container li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 40px;
}

.right-container li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(1, 40, 91);
}

.right-container li a:hover {
    text-decoration: underline;

}


@media (max-width: 1010px) {
    #header {
        flex-direction: column; 
        align-items: flex-start; 
        height: auto;
    }

    .right-container {
        text-align: left; 
        margin-top: 10px; 
    }

    .right-container li {
        display: inline-block; 
    }
}






#edu-bg {
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#edu-bg.visible {
    opacity: 1;
    transform: translateY(0);
}

.education {
    flex: 1; 
    /* height: 100%;  */
    height: 400px;
    /* border: 2px solid black; */
    box-sizing: border-box; 
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(1, 40, 91);
}

.education-img img {
    max-width: 100%; 
    max-height: 350px; 
}

@media (max-width: 750px) {
    #edu-bg {
        flex-direction: column; 
        align-items: center; 
        
    }

    .education-img img {
        max-width: 100%; 
        max-height: 350px; 
        margin-top: 50px;
    }
}






.education h1{
    font-weight: bold;
    margin-bottom: 30px;
}
.education img {
    max-width: 100%; 
    max-height: 350px; 
}

#edu-icons{
    /* width: 300px; */
    /* height: 50px; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#edu-icons img{
    width: 50px;
    height: 40px;
    margin-right: 15px;
    margin-left: 15px;
}










#amity-logo img{
    width: 150px;
    margin-right: 20px;
}

#clg{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#card-container{
    width: 700px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.clg-name{
    background-color:  rgb(158, 231, 244);
    color: rgb(1, 40, 91);
}
.clg-name h3, h6{
    font-weight: bold;
}

.clg-details{
    color: rgb(1, 40, 91);
}

.clg-details .btn{
    background-color: rgb(158, 231, 244);
    color: rgb(1, 40, 91);
}
.clg-details .btn:hover{
    background-color: rgb(98, 231, 254);

}

.clg-details p{
    font-size: 15px;
}
#card-container .card-body{
    background-color: rgb(230, 250, 253);
}


@media (max-width: 750px) {
    #clg{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #amity-logo img{
        margin-bottom: 10px;
    }
    
    .card-header.clg-name {
        text-align: center;
    }
    #card-container {
        text-align: center;
    }
}   




#amity-logo{
    opacity: 0;
}

#card-container{
    opacity: 0;
}

#amity-logo.active,
#card-container.active {
    animation: slideFromLeftRight 1s ease-out forwards; /* Apply animation to both elements */
}

@keyframes slideFromLeftRight {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left for logo */
    }

    100% {
        transform: translateX(0); /* Slide to its original position */
        opacity: 1;
    }
}




#certifications{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid black; */
    margin-top: 150px;
}

/* #certificates{
    border: 2px solid red;
} */

#certificates h1{
    font-weight: bold;
    color: rgb(1, 40, 91);
}

.certificate{
    align-items: center;
    text-align: center;
    box-shadow: 4px 15px 8px rgba(72, 72, 72, 0.5);
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.certificate img{
    width: 100%;
    height: 150px;
    object-fit:contain;
}




.certificate a {
    text-decoration: none;
    color: rgb(1, 40, 91);
}

.certificate .card-body {
    background-color: rgb(184, 244, 255);
}



#certificates {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 2s ease-out;
    margin: 0; 
}

#certificates.visible {
    opacity: 1;
    transform: translateY(0);
}

.certificate:hover{
    box-shadow: 2px 20px 20px rgba(0, 0, 0, 0.5);

}



.body {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.body.animate {
    opacity: 1;
    transform: translateY(0);
}











#moreproj{
    display: flex;
    justify-content: center;
}
#moreproj .btn{
    background-color:  rgb(1, 40, 91);
    color: white;
    width: 200px;
    font-size: 20px;
    margin-top: 30px;
}
#moreproj .btn:hover{
    background-color: transparent;
    color: rgb(1, 40, 91);
    border: 2px solid rgb(1, 40, 91);
}












.footer {
    text-align: center;
    padding: 10px 0;
    color: rgb(1, 40, 91);
    font-size: 1rem;
    margin-top: 120px;
    width: 100%;
}
