* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', 'Noto Sans KR', 'Nunito Sans', sans-serif;
    background-color: rgb(230, 250, 253);
}


.windsong-medium {
    font-family: "WindSong", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}






header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.5s ease;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#header.visible {
    opacity: 1;
    transform: translateY(0);
}

.scrolled {
    background-color: rgb(207, 250, 255);

}



.logo .bracket {
    font-size: 2rem;
    color: rgb(1, 40, 91);
}

.logo {
    font-size: 1.2rem;
    margin-left: 40px;
}

.logo a {
    text-decoration: none;
    color: rgb(1, 40, 91);
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    text-align: right;
}

.right-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right-container li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 40px;
}

.right-container li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(1, 40, 91);
}

.right-container li a:hover {
    text-decoration: underline;

}



@media (max-width: 1010px) {
    #header {
        flex-direction: column; 
        align-items: flex-start; 
        height: auto;
    }

    .right-container {
        text-align: left; 
        margin-top: 10px; 
    }

    .right-container li {
        display: inline-block; 
    }
}






/* Main container */


.outer-container {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    padding: 20px;
    /* background-color: #fff; */
    /* border: 1px solid #891717; */
    height: 500px;
}

.outer-container {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.outer-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.inner-container {
    flex: 1;
    padding: 3%;
    /* border: 1px solid #ddd; */
}

.inner-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(1, 40, 91);
}

.inner-container h5 {
    margin-bottom: 10px;
    color: rgb(1, 40, 91);
}

.inner-container p {
    font-size: 1rem;
    line-height: 1.6;
    color: rgb(102, 128, 162);
}

.icon-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 30px;
}

.icon-container img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
}



.resume-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(1, 40, 91); 
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: rgb(2, 86, 196); 
}

.resume-button svg {
    vertical-align: middle;
    margin-right: 8px;
}





/* Image container */

.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.round-container {
    width: 400px;
    height: 400px;
    background-color: #e0e0e0;
    border-radius: 50%;
    /* This creates the round shape */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.round-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}




/* Media Query for Center Alignment */
@media (max-width: 910px) {
    .outer-container {
        flex-direction: column; 
        align-items: center; 
        height: auto; 
    }

    .inner-container {
        width: 100%; 
        text-align: center; 
        margin-bottom: 30px; 
    }

    .icon-container {
        justify-content: center;
    }

    .profile {
        justify-content: center; 
        align-items: center;
        margin-top: -30px;
    }

}









/* What I do */
.bigContainer {
    width: 100%;
    /* height: 700px; */
    /* border: 2px solid red; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    width: 100%;
    height: 100px;
    /* border: 2px solid green; */
    text-align: center;
    padding-top: 10px;
}

#heading h1 {
    color: rgb(1, 40, 91);
    font-size: 3rem;
    font-weight: bold;
}
#heading {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 2s ease-out;
    margin: 0; 
}

#heading.visible {
    opacity: 1;
    transform: translateY(0);
}


.icons-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 30px;
}

.icons-container img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.criteria {
    width: 100%;
    height: auto;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.forImg {
    flex: 1;
    /* border: 2px solid blue; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forImg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.details {
    flex: 1;
    /* border: 2px solid rgb(0, 255, 136); */
    padding: 10px;
}

.details h2 {
    color: rgb(1, 40, 91);
}

.project-summary {
    font-size: 1rem;
    line-height: 1.6;
    color: rgb(102, 128, 162);
    margin-top: 40px;
}

/*  */

.forImg {
    overflow: hidden; 
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0; 
}

.forImg.active {
    animation: slideFromLeftContainer 1s ease-out forwards; /* Apply animation to the container */
}

@keyframes slideFromLeftContainer {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0;
    }
    100% {
        transform: translateX(0); /* Slide to its original position */
        opacity: 1;
    }
}

.forImg img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
}









/* Initial hidden state for elements */
.details .heading-sm,
.details .project-summary p {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.details .icons-container img {
    opacity: 0;
    transform: translateX(50px); /* Initial position for animation */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Icons container animation */
.details.animate .icons-container img {
    opacity: 1;
    transform: translateX(0);
}

/* Paragraphs come one by one */
.details .project-summary.visible p {
    opacity: 1;
    transform: translateX(0);
}






@media (max-width: 910px) {
    .criteria {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items horizontally */
    }

    .forImg {
        order: 2; /* Change the order to appear below */
        margin-top: -20px;
    }

    .details {
        order: 1; /* Change the order to appear above */
        text-align: center; /* Center align text */
        
    }

    .icons-container {
        justify-content: center; /* Center align icons */
        flex-wrap: wrap; /* Prevent wrapping of icons */
    }
    .project-summary{
        text-align: left;
    }
}









.footer {
    text-align: center;
    padding: 10px 0;
    color: rgb(1, 40, 91);
    font-size: 1rem;
    margin-top: 120px;
    width: 100%;
}































